*{
  cursor: url('img/cursor.png'), auto;
  font-family: 'Alexandria';;
}

body {
  overflow: hidden;
  background-image:url('img/test5.png');
  background-attachment: fixed;
  background-size:100% 100%;
}

h1{
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom:-1%;
  color:#002147;
}

p{
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom:3vh;
  color:#002147;
}

a{
  font-weight:500;
  color: #BC96E6;
  text-decoration: none;
}

.navi{
  width:100%;
  text-align: center;
}

.pijl{
  width: 3vw;
  margin-left: 1%;
}

.pijl:hover, .pijlterug:hover, .home:hover{
  animation: hover 1s infinite ease-in-out;
}

.pijlterug{
  width: 3vw;
  transform: scaleX(-1);
  margin-right: 1%;
}
.home{
  width:3vw;
}

@keyframes hover{
  0%{
    scale:1;
  }

  50%{
    scale:1.1;
  }

  100%{
    scale:1;
  }
}


/* General settings for each slide */
/* Position: absolute + transform to ensure the slides don't overlap. Increase by 100vw for each slide */
.slide_2vakken {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding:50px;
  opacity:0%;
  animation: fade-in 2s;
  animation-fill-mode: forwards;
  display: flex;
}

.slide_midden{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding:50px;
  opacity:0%;
  animation: fade-in 2s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide_title{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding:50px;
  opacity:0%;
  animation: fade-in 2s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes fade-in {
  from{
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

/* SLIDE 2 VAKKEN */
.tekstgroot{
  height:auto;
  background-image: url('img/tekstgroot.png');
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position: center;
  width:50%;
  box-sizing: border-box;
  padding: 5%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.afbeelding{
  width:50%;
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
}

/* SLIDE MIDDEN */
.tekstmidden{
  height: auto;
  background-image: url('img/tekstmedium.png');
  background-size:100% 100%;
  background-repeat:no-repeat;
  background-position: center;
  width:50%;
  text-align: center;
  box-sizing: border-box;
  padding: 5%;
}

.slide_midden a{
  transform: translateY(-60%);
}


/* SLIDE TITLE */
.titlebadge{
  width: 18%;
  transform: translateY(60%);
}

.slide_title p{
  width: 40%;
  padding-left:5%;
  padding-right: 5%;
  text-align: center;
}

.slide_title a{
  transform: translateY(-60%);
}

.tekstmedium{
  background-image: url('img/tekstmedium.png');
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-position: center;
  padding: 5%;
}


/* SLIDE 1 - Beginpagina */ 
#slide1{
  background-image: url('img/planetsss.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  display:flex;
  justify-content: center;
  align-items:center;
}

#earth{
  width: 55%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#play img{
  width: 30%;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
   transform:scale(0.90);
  }

  50% {
    transform:scale(1);
  }

  100% {
    transform:scale(0.90);
  }
}

#slide1 a{
  display:flex;
  justify-content: center;
  transform: translateY(120%);
}

/* Inhoudsopgave */
#inhoud {
  transform: translateX(100vw);
}

#inhoud{
  background-image: url('img/tekstgroot.png');
  background-size:70% 90%;
  background-repeat:no-repeat;
  background-position: center;
}

#inhoud .tekstmedium{
  background: none;
  text-align: center;
  color:#002147;
  width: 60%;
}
#menu{
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.item{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom:3%;
}
.item img{
  width: 50%;
  margin-bottom:-20%;
}

.item h2{
  color:#002147;
  font-size:1.2em;
}

#introtitel{
  color: #002147;
  margin-bottom:-5%;
}


/* SLIDE 2 - Identiteit */
#slide2 {
  transform: translateX(200vw);
  background-image: url('img/begin.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

/* SLIDE 3 - Wie ben ik?*/
#slide3 {
  transform: translateX(300vw);
  background-image: url('img/midden1.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide3 .afbeelding{
  background-image: url('img/collage1.png');
}

#slide3 .tekstgroot{
  background-image: url('img/tekstmedium.png');
  background-size:100% 90%;
}

/* SLIDE 4 - Wie ben ik als ontwerper?*/
#slide4 {
  transform: translateX(400vw);
  background-image: url('img/midden2.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide4 .afbeelding{
  background-image: url('img/archetypes.png');
}

#slide4 .tekstgroot{
  background-image: url('img/tekstgroot.png');
  background-size:100% 90%;
}

/* SLIDE 5 - Huisstijl*/
#slide5 {
  transform: translateX(500vw);
  background-image: url('img/midden3.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;

}

#slide5 .afbeelding{
  background-image: url('img/stylesheet.png');
  width: 45%;
}

#slide5 .tekstgroot{
  background-image: url('img/tekstgroot.png');
  background-size:100% 100%;
  width: 55%;
}

/* SLIDE 6 - Inspiratie */
#slide6 {
  transform: translateX(600vw);
  background-image: url('img/midden1.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

/* SLIDE 7 - Hoe doe ik inspiratie op?*/
#slide7 {
  transform: translateX(700vw);
  background-image: url('img/midden2.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide7 .tekstgroot{
  width: 60%;
  background-image: url('img/tekstmedium.png');
  background-size:100% 75%;
}

#slide7 .afbeelding{
  background-image: url('img/inspo1.png');
  width:40%;
}


/* SLIDE 8 - Inspiratiebronnen 1*/
#slide8 {
  transform: translateX(800vw);
  background-image: url('img/midden3.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide8 .afbeelding{
  background-image: url('img/inspiratiecollage.png');
}

/* SLIDE 9 - Inspiratiebronnen 2*/
#slide9 {
  transform: translateX(900vw);
  background-image: url('img/midden1.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center
}

#slide9 .tekstgroot{
  width: 60%;
  background-image: url('img/tekstmedium.png');
  background-size:100% 75%;
}

#slide9 .afbeelding{
  background-image: url('img/inspiratiecollage2.png');
}

/* SLIDE 10 - Grafische wereld wel */
#slide10 {
  transform: translateX(1000vw);
  background-image: url('img/midden2.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide10 .afbeelding{
  background-image: url('img/gw1.png');
  width:40%;
}

#slide10 .tekstgroot{
  background-size:100% 70%;
  background-image: url('img/tekstmedium.png');
  width:60%;
}


/* SLIDE 11 - Grafische wereld niet */
#slide11 {
  transform: translateX(1100vw);
  background-image: url('img/midden3.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide11 .afbeelding{
  background-image: url('img/gw2.png');
  width:40%;
}

#slide11 .tekstgroot{
  background-size:100% 60%;
  background-image: url('img/tekstmedium.png');
  width:60%;
}

/* SLIDE 12 - Lessen*/
#slide12 {
  transform: translateX(1200vw);
  background-image: url('img/midden1.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide12 .afbeelding{
  background-image: url('img/lessen.png');
  width:40%;
}

#slide12 .tekstgroot{
  background-image: url('img/tekstmedium.png');
  background-size:100% 90%;
  width:60%;
}

/* SLIDE 13 - Exploratie */
#slide13 {
  transform: translateX(1300vw);
  background-image: url('img/midden2.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

/* SLIDE 14 - Experimenten*/
#slide14 {
  transform: translateX(1400vw);
  background-image: url('img/midden3.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide14 .afbeelding{
  background-image: url('img/experiments.png');
  width:45%;
}

#slide14 .tekstgroot{
  background-image: url('img/tekstgroot.png');
  background-size:100% 100%;
  width:55%;
}

/* SLIDE 15 - Onderzoek*/
#slide15 {
  transform: translateX(1500vw);
  background-image: url('img/midden1.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide15 .afbeelding{
  background-image: url('img/designmuseum.png');
  width:40%;
}

#slide15 .tekstgroot{
  background-image: url('img/tekstgroot.png');
  background-size:100% 90%;
  width:60%;
}

/* SLIDE 16 - Grafisch werkveld*/
#slide16 {
  transform: translateX(1600vw);
  background-image: url('img/midden2.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide16 .tekstgroot{
  background-image: url('img/tekstgroot.png');
  background-size:100% 100%;
  width:60%;
  text-align: center;
}

/* SLIDE 17 - Reflectie */
#slide17 {
  transform: translateX(1700vw);
  background-image: url('img/midden3.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

/* SLIDE 18 - Grafische groei 1*/
#slide18 {
  transform: translateX(1800vw);
  background-image: url('img/midden1.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide18 .tekstgroot{
  background-image: url('img/tekstgroot.png');
  background-size:100% 100%;
  width:70%;
  text-align: center;
}

/* SLIDE 19 - Grafische groei 2*/
#slide19 {
  transform: translateX(1900vw);
  background-image: url('img/midden2.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide19 .tekstgroot{
  background-image: url('img/tekstgroot.png');
  background-size:100% 100%;
  width:70%;
  text-align: center;
}

/* SLIDE 20 - Grafische groei 1*/
#slide20 {
  transform: translateX(2000vw);
  background-image: url('img/midden3.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide20 .tekstgroot{
  background-image: url('img/tekstgroot.png');
  background-size:100% 100%;
  width:70%;
  text-align: center;
}

/* SLIDE 21 - Grafische groei 2*/
#slide21 {
  transform: translateX(2100vw);
  background-image: url('img/midden1.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide21 .tekstgroot{
  background-image: url('img/tekstgroot.png');
  background-size:100% 100%;
  width:70%;
  text-align: center;
}

/* SLIDE 22 - What comes next? */
#slide22 {
  transform: translateX(2200vw);
  background-image: url('img/eind.png');
  background-size:100% auto;
  background-repeat:no-repeat;
  background-position: center;
}

#slide22 .tekstgroot{
  background:none;
  width:60%;
  text-align: center;
  align-self:flex-end;
}

#eindtekst{
  background-image: url('img/tekstgroot.png');
  background-size:100% 100%;
  padding-left:8%;
  padding-right: 8%;
  padding-bottom: 5%;
  padding-top: 5%;
}

#slide22 .slide_midden{
  text-align: center;
}

#gif{
  width:40%;
  margin:auto;
}

#slide22 .navi{
  margin:auto;
}